<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!--/*
  head 태그를 조각(fragment)으로 만든다.
    - 조각이름 : headFrag
    - 파라미터 : title
*/-->

<head th:fragment="headFrag(title)">
  <meta charset="UTF-8">
  <title th:text="${title}"></title>
  <script th:src="@{/js/lib/jquery-3.6.4.min.js}"></script>
  <script th:src="@{/bootstrap-5.0.2/js/bootstrap.min.js}"></script>
  <link rel="stylesheet" th:href="@{/css/style.css(ver=1.0)}">
  <link rel="stylesheet" th:href="@{/bootstrap-5.0.2/css/bootstrap.min.css(ver=1.0)}">
</head>


<body>
  <!--/*
    div 태그를 조각(fragment)으로 만든다.
      - 조각이름 : gnbFrag
  */-->
  <div th:fragment="gnbFrag">
    <div class="header">
    <!-- 로그인 안했을때 네비바  -->
    <h3 style="display:none;">로그인 안했을때 네비바</h3>
      <div th:if="${#strings.isEmpty(session.loginId)}" >
        <nav class="navbar navbar-expand-lg navbar-light" style="margin-left: 85rem;">
          <div class="collapse navbar-collapse" id="navbarNavDropdown" >
            <ul class="navbar-nav justify-content-end">
              <li class="nav-item active">
                <a class="text-reset nav-link" th:href="@{/user/login.form}">로그인</a>
              </li>
              <li class="nav-item">
                <a class="text-reset nav-link" th:href="@{/user/agree.form}">회원가입</a>
              </li>
            </ul>
            <div class="dropdown nav-item">
              <a th:href="@{/customerCenter/centerHome.html}" class="text-reset nav-link dropdown-toggle" >고객센터</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{/customerCenter/notice.html}">공지사항</a>
                <a class="dropdown-item" th:href="@{/customerCenter/faq.html}">자주 묻는 질문</a>
                <a class="dropdown-item" th:href="@{/customerCenter/qna.html}">1:1 문의</a>
                <a class="dropdown-item" th:href="@{/customerCenter/faq.html}">뭐하지..?리얼후기?</a>
              </div>
            </div>
          </div>
        </nav>
          <nav class="navbar navbar-light bg-light">
         <div class="container-fluid" >
           <a class="navbar-brand" th:href="@{/}">
             <img th:src="@{/image/pupoimg.jpg}" alt="" width="200" height="50" class="d-inline-block align-text-top">
           </a>
         </div>
       </nav>
      </div>
    <!-- 로그인 했을때 네비바  -->
    <h3 style="display:none;">로그인 했을때 네비바</h3>
    <div th:unless="${#strings.isEmpty(session.loginId)}" >
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse" id="navbarNavDropdown" style="justify-content: flex-end">
          <ul class="navbar-nav justify-content-end">
            <li class="nav-item active">
              <div class="text-reset nav-link" 
              style="-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none"
              th:text="|${session.loginId} 님 반갑습니다|">
              </div>
            </li>
            <li class="nav-item">
              <a class="text-reset nav-link" th:href="@{/user/logout.do}">로그아웃</a>
            </li>
            <li class="nav-item">
              <th:block th:if="${session.loginId  != null and session.sellerChk == 0}">
                <a class="text-reset nav-link" th:href="@{/user/mypage.do}">마이페이지</a>
              </th:block>
            </li>
            <li class="nav-item">
              <th:block th:if="${session.loginId != null and session.sellerChk == 1}">
                <a class="text-reset nav-link" th:href="@{/seller/mypage.do}">판매자페이지</a>
              </th:block>
            </li>
            <li class="nav-item">
              <th:block th:if="${session.loginId != null and session.sellerChk == 2}">
                <a class="text-reset nav-link" th:href="@{/admin/adminMain.do">관리자페이지</a>
              </th:block>
            </li>
          </ul>
          <div class="dropdown nav-item">
            <a  th:href="@{/customerCenter/centerHome.html}" class="text-reset nav-link dropdown-toggle" >고객센터</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" th:href="@{/customerCenter/notice.html}">공지사항</a>
              <a class="dropdown-item" th:href="@{/customerCenter/faq.html}">자주 묻는 질문</a>
              <a class="dropdown-item" th:href="@{/customerCenter/qna.html}">1:1 문의</a>
              <a class="dropdown-item" th:href="@{/customerCenter/faq.html}">뭐하지..?리얼후기?</a>
            </div>
          </div> 
        </div>
      </nav>
       <nav class="navbar navbar-light bg-light">
         <div class="container-fluid">
           <a class="navbar-brand" th:href="@{/}">
             <img th:src="@{/image/pupoimg.jpg}" alt="" width="200" height="50" class="d-inline-block align-text-top">
           </a>
         </div>
       </nav>
       
    </div>
    <!-- 타이틀 -->  
    <hr>
      <div id="title"class="text-center">
        <h1>
          <a class="display-2 text-dark" th:href="@{/}" style="text-decoration-line: none;">배너이미지</a>
        </h1>
      </div>
    <hr>
    </div>  
  </div>
</body>
</html>