<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!--/* /layout/header.html의 headFrag조각으로 head 태그를 바꾼다. */-->
<head th:replace="~{/layout/header::headFrag('Welcome')}"></head>

<body>

  <div id="containerOFAll">
    <div id="orderProcess">
      <div id="ordProcess">
        <ul>
          <li style="float:left;"  id = "currentProcess">01 장바구니</li> 
          <li style="color: lightgrey; float:left;">&nbsp;>&nbsp;</li>
          <li style="color: lightgrey; float:left;">02 주문서 작성/결제</li> 
          <li style="color: lightgrey; float:left;">&nbsp;>&nbsp;</li>
          <li style="color: lightgrey; float:left;">03 주문완료</li>
        </ul>  
      </div>
    </div>
    
    <hr style="border:solid 1px lightgray;">
    
    <div id="basketTableContainer" >
      <!-- 장바구니 내역 -->
      <div id="basketList">
	      <table id="basketTable" style="margin:-30px" >
	        <thead id="tableHead">  
	          <tr>
	            <th colspan="6" id="tableTitle" style="text-align: center">장바구니 내역</th>
	          </tr>
	        </thead>
	        
	        <tbody  id="tableBody">
	           <!-- ajax 로 장바구니 리스트 그리는 영역 -->
	        </tbody>
	      </table>
      </div>
             
      <div  id='chkAllBox'>
        <!-- 전체 체크하는 박스 -->
        <input type='checkbox' id="chkAll" checked="checked" onclick="allchkEvt(this)"> 전체 선택
      </div>
      <div id="dltBtnDiv">
        <!-- 선택 삭제 버튼 -->
        <button id="dltBtn" onclick="chosenDlt()">선택 삭제</button>
      </div>
    </div>
    
    <div id="countBox">
      <!-- 계산 부분 -->
      <div class="countBoxDiv">
        <br><br>
        <h5>총 금액</h5>
        <h3 id="tPrice">0</h3>
      </div>
      <div class="countBoxDiv" id="mathSymbol">
        <br>
        <h2>-</h2>
      </div>   
      
      <div class="countBoxDiv">
        <br><br>
        <h5>할인금액</h5>
        <h3 id="dcPrice">0</h3>
      </div>
      
      <div class="countBoxDiv" id="mathSymbol">
        <br>
        <h2>+</h2>
      </div>
      
      <div class="countBoxDiv">
        <br><br>
        <h5>배송비</h5>
        <h3 id="deliPrice">2,500</h3>
      </div>
      
      <div class="countBoxDiv" id="mathSymbol">
        <br>
        <h2>=</h2>
      </div>

      <div class="countBoxDiv">
        <br><br>
        <h5>총 결제금액</h5>
        <h3 id=realTotalPrice>0</h3>
      </div>
    </div>   
     
    <div id="orderBtns">
      <button class="button chooseNorder" onclick="orderSelected()">선택 상품 주문</button>
      <button class="button allOrder" onclick="orderAll()">전체 상품 주문</button>
    </div>


    <form id="actionForm" action="/order/orderItemsForm" method="post">
      <input type="hidden" name="checkRow" id="checkRow" value="" >
      <input type="hidden" name="idNo" id="idNo" value="${sessionMember.idNo}" >
    </form>

  </div>  
          
</body>

</html>