<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">



<!--/* /layout/header.html의 headFrag조각으로 head 태그를 바꾼다. */-->
<head th:replace="~{/layout/header::headFrag('Welcome')}"></head>

<body>
  <div th:replace="~{/layout/header::gnbFrag}"></div>
    <div>
      <img th:src="@{/regular/regularMainDisplay.do(regularNo=${regularDetail.regularNo})}">
      <form method="post" th:action="@{/regular/regularPayPage.do}">
        <div th:text="${regularDetail.regularName}"></div>
        <input type="hidden" name="regularNo" th:value="${regularDetail.regularNo}" >
        <input type="text" name="regularSellPrice" th:value="${regularDetail.regularSellPrice}" readOnly>
        <input type="hidden" name="loginId" th:value="${session.loginId}">
        <button>꾸독</button>
      </form>
    </div>
    
   

</body>

</html>