<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<script src="https://cdn.iamport.kr/v1/iamport.js"></script>
<!--/*
  1. Variable Expressions           : ${...} (값을 나타낼 때 사용한다.)
  2. Selection Variable Expressions : *{...} (객체의 특정 필드 값을 나타낼 때 사용한다.)
  3. Message Expressions
  4. Link URL Expressions           : @{...} (경로 작성할 때 사용한다.)
  5. Fragment Expressions           : ~{...} (조각을 사용할 때 사용한다.)
*/-->

<!--/*
  ${name}             : request attribute      model.addAttribute("name", "킹콩")
                                               redirectAttributes.addFlashAttribute("name", "킹콩")
  ${param.name}       : request parameter      /board/detail.do?name=킹콩
  ${session.name}     : session attribute      session.setAttribute("name", "킹콩")
  ${application.name} : application attribute  servletContext.setAttribute("name", "킹콩")
*/-->

<!--/* /layout/header.html의 headFrag조각으로 head 태그를 바꾼다. */-->
<head th:replace="~{/layout/header::headFrag('Welcome')}"></head>

  <body>
    <div th:replace="~{/layout/header::gnbFrag}"></div>
    <form method="post" onclick="fnRegPay" id="frm1" action="/regular/regularPurchase.do">
      <select name="regPg" id="pg">
        <option value="kakaopay">kakaoPay</option>
        <option value="tosspayments">Toss</option>
      </select>
      <input type="hidden" name="buyerEmail" value="">
      <input type="text" name="buyerTel" th:value="${loginId.mobile}">
      <input type="text" name="buyerName" value="">
      <input type="hidden" name="regCustomerUid" id="customerUidField">
      <input type="hidden" name="loginId" th:value="${loginId.id}">
      <input type="hidden" name="regularNo" th:value="${regularDetail.regularNo}">
      <input type="hidden" name="regPurchasePrice" th:value="${regularDetail.regularSellPrice}">
      <div th:text="${regularDetail.regularSellPrice}"></div>
      <input type="button"onclick="fnRegPay()" id="btnRegPay" placeholder="결제">
      <hr>
      <!-- 배송정보 입력 -->
      <div>
        <input type="text" onclick="execDaumPostcode()" name="postcode" id="postcode" placeholder="우편번호" readonly="readonly">
        <input type="button" onclick="execDaumPostcode()" value="우편번호 찾기"><br>
        <input type="text" name="roadAddress" id="roadAddress" placeholder="도로명주소">
        <input type="text" name="jibunAddress" id="jibunAddress" placeholder="지번주소"><br>
        <span id="guide" style="color:#999;display:none"></span>
        <input type="text" name="detailAddress" id="detailAddress" placeholder="상세주소">
        <input type="text" name="extraAddress" id="extraAddress" placeholder="참고항목">
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script>
            // 본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
            function execDaumPostcode() {
                new daum.Postcode({
                    oncomplete: function(data) {
                        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
        
                        // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                        // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                        var roadAddr = data.roadAddress; // 도로명 주소 변수
                        var extraRoadAddr = ''; // 참고 항목 변수
        
                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                            extraRoadAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if(data.buildingName !== '' && data.apartment === 'Y'){
                           extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if(extraRoadAddr !== ''){
                            extraRoadAddr = ' (' + extraRoadAddr + ')';
                        }
        
                        // 우편번호와 주소 정보를 해당 필드에 넣는다.
                        document.getElementById('postcode').value = data.zonecode;
                        document.getElementById("roadAddress").value = roadAddr;
                        document.getElementById("jibunAddress").value = data.jibunAddress;
                        
                        // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                        if(roadAddr !== ''){
                            document.getElementById("extraAddress").value = extraRoadAddr;
                        } else {
                            document.getElementById("extraAddress").value = '';
                        }
        
                        var guideTextBox = document.getElementById("guide");
                        // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                        if(data.autoRoadAddress) {
                            var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                            guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                            guideTextBox.style.display = 'block';
        
                        } else if(data.autoJibunAddress) {
                            var expJibunAddr = data.autoJibunAddress;
                            guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                            guideTextBox.style.display = 'block';
                        } else {
                            guideTextBox.innerHTML = '';
                            guideTextBox.style.display = 'none';
                        }
                    }
                }).open();
            }
        </script>
      </div>
    </form>
    <div th:text="${regularDetail.regularName}"></div>
    
  </body>
<!-- 결제 완료시 서브밋 커스터머 아이디, 유저아이디, 배송정보, 결제금액, 월수금(1) 화목토(2)  -->

  <script>
    var regularName = "[[${regularDetail.regularName}]]";
    var merchant_uid = "pupo_" + new Date().getTime();
    var customer_uid =  "[[${loginId.id}]]_" + new Date().getTime();  
  function fnRegPay(){
    const IMP = window.IMP; // 생략 가능
    IMP.init("imp60175747"); // 예: imp00000000a
    IMP.request_pay({ // param
        pg: $('#pg').val(),
        pay_method: "card", // "card"만 지원됩니다
        merchant_uid: merchant_uid, // 빌링키 발급용 주문번호
        customer_uid: customer_uid,
        name: regularName,
        amount: 10000, //
        buyer_email: "[[${loginId.email}]]",
        buyer_name:"[[${loginId.name}]]",
        buyer_tel: "[[${loginId.mobile}]]",
      }, function (rsp) { // callback
        if (rsp.success) {
        	alert('정기 결제 및 첫 결제가 완료 됐습니다.');
        	$('#customerUidField').val(customer_uid);
          $('#frm1').submit();
        } else {
          alert('결제실패 정보를 다시 확인 해주세요');
        }
      });
  }
  </script>
</html>