<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout/header::headFrag('Welcome')}"></head>
<div th:replace="~{/layout/header::gnbFrag}"></div>
<body class="goto-here">
  <div class="overlay"></div>
    <div class="container pl-7 d-flex justify-content-center">
    <!-- 여기서부터적기 -->
  <div class="wrapper fadeInDown">
  <div id="formContent">
  
    <div class="loginBox_input">
       <div class="loginBoxTitle" id="loginBox_input">Login Page</div>

       
       <form id="frmLogin" method="post" th:action="@{/user/login.do}">
       
        <input type="hidden" name="url" th:value="${url}">
        
        <input type="text" name="id" id="id" class="fadeIn second" placeholder="아이디">
        <input type="password" name="pw" id="pw" class="fadeIn third" placeholder="비밀번호">
   
          <div class="buttons">
            <button id="login-button" class="fadeIn fourth">로그인</button>
          </div>
          
          <label>
            <input type="checkbox" id="chkRememberId">
            아이디 기억
          </label>
          <label>
            <input type="checkbox" id="auto-login">
            자동 로그인
          </label>
        </form>

<div id="formFooter">
  <a class="underlineHover" th:href="@{/user/findId.html}" >아이디 찾기</a> 
  <a class="underlineHover" th:href="@{/user/findPw.html}" >비밀번호 찾기</a>
  <a class="underlineHover" th:href="@{/user/agree.html}" >회원가입</a>
  <a class="underlineHover" th:href="@{/}">홈</a>
 </div>
 
    </div>
    
  </div>
</div>   

        <!-- 여기까지적기 -->
    </div>
<div th:replace="~{/layout/footer::gnbFooter}"></div> 
<script th:inline="javascript">

  // 로그인하기
  function fnLogin(){
    
    $('#frmLogin').on('submit', function(event){
      
      // 아이디, 비밀번호 공백 검사
      if($('#id').val() == '' || $('#pw').val() == ''){
        alert('아이디와 비밀번호를 모두 입력하세요.');
        event.preventDefault();
        return;
      }
      
      // 아이디 기억을 체크하면 rememberId 쿠키에 입력된 아이디를 저장
      if($('#chkRememberId').is(':checked')){
        $.cookie('rememberId', $('#id').val());
      } else {
        $.cookie('rememberId', '');
      }
      
    });
    
  }
  
  // 쿠키에 기억된 아이디 보여주기(아이디 기억)
  function fnDisplayRememberId(){
    
    // rememberId 쿠키에 저장된 아이디를 가져와서 표시
    
    let rememberId = $.cookie('rememberId');
    if(rememberId == ''){
      $('#id').val('');
      $('#chkRememberId').prop('checked', false);
    } else {
      $('#id').val(rememberId);
      $('#chkRememberId').prop('checked', true);
    }
    
  }
  
  $(function(){
    fnLogin();
    fnDisplayRememberId();
  });
  
</script>
</body>
</html>