<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!--/*
  1. Variable Expressions           : ${...} (값을 나타낼 때 사용한다.)
  2. Selection Variable Expressions : *{...} (객체의 특정 필드 값을 나타낼 때 사용한다.)
  3. Message Expressions
  4. Link URL Expressions           : @{...} (경로 작성할 때 사용한다.)
  5. Fragment Expressions           : ~{...} (조각을 사용할 때 사용한다.)
*/-->

<!--/*
  ${name}             : request attribute      model.addAttribute("name", "킹콩")
                                               redirectAttributes.addFlashAttribute("name", "킹콩")
  ${param.name}       : request parameter      /board/detail.do?name=킹콩
  ${session.name}     : session attribute      session.setAttribute("name", "킹콩")
  ${application.name} : application attribute  servletContext.setAttribute("name", "킹콩")
*/-->

<!--/* /layout/header.html의 headFrag조각으로 head 태그를 바꾼다. */-->
<head th:replace="~{/layout/header::headFrag('Welcome')}"></head>

<body>

  <!--/* /layout/header.html의 gnbFrag조각으로 div 태그를 바꾼다. */-->
  <div th:replace="~{/layout/header::gnbFrag}"></div>
  
             <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                          <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/user/login.form}">로그인</a></li>
                          <li class="nav-item"><a class="nav-link" th:href="@{/user/agree.form}">회원가입</a></li>
                       	  <li class="nav-item" th:if="${session.loginId  != null}"><a class="nav-link" th:href="@{/user/checkPw.form}"th:text="${session.loginId}"></a>님 반갑습니다</li>                
                          <li class="nav-item"><a class="nav-link" th:href="@{/user/logout.do}">로그아웃</a></li>
                    <!--     <li class="nav-item"><a class="nav-link" th:href="javascript:fnLeave()">회원탈퇴</a></li>
                    
					<!-- /* 로그인 구분에 따른 마이페이지 */ -->
					
<!-- 					<li class="nav-item user" th:if="${session.loginId  != null and session.sellerChk == 0}">
					  <a class="nav-link" th:href="@{/user/mypage.do}">마이페이지</a>
					</li> -->
					<th:block th:if="${session.loginId  != null and session.sellerChk == 0}">
					<li class="nav-item user">
					  <a class="nav-link" th:href="@{/user/mypage.do}">마이페이지</a>
					</li>
					</th:block>
					
					<th:block th:if="${session.loginId != null and session.sellerChk == 1}">
					<li class="nav-item seller">
					  <a class="nav-link" th:href="@{/user/mypage.do}">판매자페이지</a>
					</li>
					</th:if>
					
					<th:block th:if="${session.loginId != null and session.sellerChk == 2}">
					<li class="nav-item admin">
					  <a class="nav-link" th:href="@{/admin/adminMain.do}">관리자페이지</a>
					</li>
					</th:block>
					                           
                        <li class="nav-item"><a class="nav-link" th:href="@{/main}">고객센터</a></li>
                    </ul>
                </div>



</body>
</html>