<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!--/* /layout/header.html의 headFrag조각으로 head 태그를 바꾼다. */-->
<head th:replace="~{/layout/header::headFrag('고객센터')}"></head>
<body>
<!--/* /layout/header.html의 gnbFrag조각으로 div 태그를 바꾼다. */-->
<div th:replace="~{/layout/header::gnbFrag}"></div>
  
<body class="goto-here">
<div class="ftco-section">
  <div class="container">
    <header> 
      <nav aria-label="breadcrumb" class="bg-white">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/}">HOME</a></li>
          <li class="breadcrumb-item"><a th:href="@{/customerCenter/centerHome.html}">고객센터</a></li>
          <li class="breadcrumb-item active" aria-current="page">공지사항</li>
        </ol>
      </nav>
      <h1 class="ftco-animate text-center font-weight-bold pt-5">공지사항</h1>
    </header>
   <section>
   <div class="container">
  <div class="row">
    <div class="col-lg-3 sidebar ftco-animate">
      <div class="sidebar-box">
        <div class="sidebar-box ftco-animate">
          <h3 class="heading blind">카테고리</h3>
            <ul class="categories">
              <li><a th:href="@{/customerCenter/notice.html}">공지사항</a></li>
              <li><a th:href="@{/customerCenter/faq.html}">자주 묻는 질문</a></li>
              <li><a th:href="@{/customerCenter/qna.html}">1:1문의</a></li>
              <li><a th:href="@{/customerCenter/voc.html}">고객의 소리</a></li>
            </ul>
        </div>
        <div class="sidebar-box ftco-animate">
          <h3 class="heading">고객센터</h3>
          <p><strong>7777-7777</strong><br>평일, 토요일 7:00~18:00<br>공휴일 7시 ~ 13시 <br>(일요일 휴무)</p>
        </div>
      </div>
    </div>
    <div class="col-lg-9 ftco-animate">
      <div class="comment-form-wrap pt-5 ">
        <div class="col-10 col-md-7 col-lg-12">
          <table class="table table-sm col-10" >
            <thead>
              <tr>
                <th id="totalRecord" scope="col" th:text="|전체 ${totalRecord}개|"></th>
                <th class="d-flex justify-content-end" scope="col">
                <div class="col-lg-4 mt-3">
                  <form action="#" class="search-form">
                    <div class="form-group">
                      <span class="icon ion-ios-search"></span>
                      <input type="text" class="form-control" placeholder="검색어를 입력하세요." name="query" id="query" >
                    </div>
                  </form>
                </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <th:block th:if="${#lists.isEmpty(noticeList)}">
                <tr>
                  <th scope="row" colspan="4">게시글이 없습니다.</th>
                </tr>
              </th:block>
              <th:block th:if="${not #lists.isEmpty(noticeList)}">
                <th:block th:each="notice, vs:${noticeList}" > 
                  <tr>
                    <th scope="row" th:text="${beginNo - vs.index}"></th>
                    <th th:text="${notice.noticeTitle}"></th>
                    <th th:text="${notice.noticeCreatedAt}"></th>
                    <th th:text="${notice.noticeHit}"></th>
                  </tr>
                </th:block>
              </th:block>
            </tbody>
          </table>
            <div class="d-flex justify-content-center" th:utext="${pagination}"></div>      
            <th:block th:if="${session.loginId != null and session.sellerChk == 2}">
              <input  class="end"  type="button" value="새글 작성하기" onclick="fnNewWrite()">
            </th:block>
        </div>
              </div>
            </div>
             
              <div class="comment-form-wrap pt-5">
                    
                    
                    
                    <div class="row mt-4">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h4>All Posts</h4>
                  </div>
                  <div class="card-body">
                    <div class="float-left">
                      <select class="form-control selectric">
                        <option>Action For Selected</option>
                        <option>Move to Draft</option>
                        <option>Move to Pending</option>
                        <option>Delete Pemanently</option>
                      </select>
                    </div>
                    <div class="float-right">
                      <form>
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Search">
                          <div class="input-group-append">                                            
                            <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                          </div>
                        </div>
                      </form>
                    </div>

                    <div class="clearfix mb-3"></div>

                    <div class="table-responsive">
                      <table class="table table-striped">
                        <tr>
                          <th class="text-center pt-2">
                            <div class="custom-checkbox custom-checkbox-table custom-control">
                              <input type="checkbox" data-checkboxes="mygroup" data-checkbox-role="dad" class="custom-control-input" id="checkbox-all">
                              <label for="checkbox-all" class="custom-control-label">&nbsp;</label>
                            </div>
                          </th>
                          <th>Title</th>
                          <th>Category</th>
                          <th>Author</th>
                          <th>Created At</th>
                          <th>Status</th>
                        </tr>
                        <tr>
                          <td>
                            <div class="custom-checkbox custom-control">
                              <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-2">
                              <label for="checkbox-2" class="custom-control-label">&nbsp;</label>
                            </div>
                          </td>
                          <td>Laravel 5 Tutorial: Introduction
                            <div class="table-links">
                              <a href="#">View</a>
                              <div class="bullet"></div>
                              <a href="#">Edit</a>
                              <div class="bullet"></div>
                              <a href="#" class="text-danger">Trash</a>
                            </div>
                          </td>
                          <td>
                            <a href="#">Web Developer</a>, 
                            <a href="#">Tutorial</a>
                          </td>
                          <td>
                            <a href="#">
                              <img alt="image" src="assets/img/avatar/avatar-5.png" class="rounded-circle" width="35" data-toggle="title" title=""> <div class="d-inline-block ml-1">Rizal Fakhri</div>
                            </a>
                          </td>
                          <td>2018-01-20</td>
                          <td><div class="badge badge-primary">Published</div></td>
                        </tr>
                      </table>
                    </div>
                    <div class="float-right">
                      <nav>
                        <ul class="pagination">
                          <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                              <span class="sr-only">Previous</span>
                            </a>
                          </li>
                          <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                          </li>
                          <li class="page-item">
                            <a class="page-link" href="#">2</a>
                          </li>
                          <li class="page-item">
                            <a class="page-link" href="#">3</a>
                          </li>
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                              <span class="sr-only">Next</span>
                            </a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      
              </div>
            </div>
            
            


        
    
          </div>
    </section>
  </div>
  </div>
  </body>
  <script th:inline="javascript">
  
  
  function fnNewWrite() {
	    location.href='/customerCenter/noticeWrite.html';
	  }
  
  </script>
<div th:replace="~{/layout/header::gnbFooter}"></div> 
</html>