<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!--/*
  1. Variable Expressions           : ${...} (값을 나타낼 때 사용한다.)
  2. Selection Variable Expressions : *{...} (객체의 특정 필드 값을 나타낼 때 사용한다.)
  3. Message Expressions
  4. Link URL Expressions           : @{...} (경로 작성할 때 사용한다.)
  5. Fragment Expressions           : ~{...} (조각을 사용할 때 사용한다.)
*/-->

<!--/*
  ${name}             : request attribute      model.addAttribute("name", "킹콩")
                                               redirectAttributes.addFlashAttribute("name", "킹콩")
  ${param.name}       : request parameter      /board/detail.do?name=킹콩
  ${session.name}     : session attribute      session.setAttribute("name", "킹콩")
  ${application.name} : application attribute  servletContext.setAttribute("name", "킹콩")
*/-->

<!--/* 자바스크립트 내부에서 Variable Expression은 [[${}]]로 나타낸다. */-->

<!--/* /layout/header.html의 headFrag조각으로 head 태그를 바꾼다. */-->
<head th:replace="~{/layout/header::headFrag('고객센터')}"></head>
<body>
  <!--/* /layout/header.html의 gnbFrag조각으로 div 태그를 바꾼다. */-->
  <div th:replace="~{/layout/header::gnbFrag}"></div>
  
  <main>
    <header>
      <span class="text-muted pl-7" th:text="|HOME > 고객센터 >|"></span>
      <span class="text-dark" th:text="|자주묻는질문-관리자|"></span>
      <div>
      <h1 class="text-center font-weight-bold pt-5">자주 묻는 질문 수정페이지</h1></div>
    </header>
    <section class="pt-5 pl-7">
     <div style="float: left; width: 15%;">
      <aside  class="align-items-center" >
        <h3 style="display:none;">서브메뉴</h3>
        <ul>
            <li id="notice">
            <a th:href="@{/customerCenter/notice.html}">공지사항</a>
            </li>
            <li id="faq">
            <a th:href="@{/customerCenter/qna.html}">자주 묻는 질문</a>
            </li>
            <li id="myPersonalInquery">
            <a th:href="@{/customerCenter/qna.html}">1:1 문의</a>
            </li>
            <li id="qna">
            <a href="/serviceCenter/qna">고객의 소리</a>
            </li>
        </ul>
        <div >
          <span>고객센터<strong>1800-0700</strong></span>
          <p>평일, 토요일 7:00~18:00<br>공휴일 7시 ~ 13시 (일요일 휴무)</p>
        </div>
      </aside>
      </div>
      <!-- 메인세션 가운데 부분 -->
      <div class="body px-4 px-lg-5" style="float: left; width: 65%;">

          <form method="post" th:action="@{/customerCenter/modify.do}">
          <div>카테고리:
           <select name="faqCategory" id="faqCategory" >
              <option th:text="|${f.faqCategory}|" style="display: none;" disabled selected hidden></option>
              <option value="상품">상품</option>
              <option value="배송">배송</option>
              <option value="회원정보">회원정보</option>
              <option value="주문/결제">주문/결제</option>
              <option value="취소/교환/반품">취소/교환/반품</option>
            </select>
          </div>
          <div>
            <label for="faqTitle">제목  :</label>
            <input id="faqTitle" name="faqTitle" required="required" th:value="${f.faqTitle}">
          </div>
          <div>
            <label for="faqContent">내용</label><br>
            <textarea id="faqContent" name="faqContent" rows="5" cols="30" th:text="${f.faqContent}">
           </textarea>
          </div>
          <div>
            <input type="hidden" name="faqNo" th:value="${f.faqNo}">
            <button>수정완료</button>
            <input type="reset" value="입력초기화">
            <input type="button" value="목록" onclick="fnList()">
         </div>
   </form>
       </div>
       
       
       
       
       
       
       
      
    </section>
  </main>
</body>
<script th:inline="javascript">


function fnList() {
    location.href = '/customerCenter/faq.html';
  }

	 
	 
  
</script>
</html>