<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::headFrag('Welcome')}"></head>

<body>
  <div class="container">
    <div class="mainContent" style="margin-top:50px; margin-left:200px;">
    <div class="title">
	    <h3>상품정보</h3>
	    <p>상품ID : <span th:value="${item.itemCode}"/></p>
    </div>
    <div class="get_form">
      <form id="actionForm" method="POST">
        <input type="hidden" name="itemCode" value='<c:out value="${item.itemCode }"/>'>
        <table>
          <div class="container">
            <tr>
	            <td><label for="itemName">상품 이름 </label> </td>            
	            <td th:value="${item.itemName }"/> <br></td>
            </tr>
          </div>
          <div class="container">
            <tr>
	            <td><label for="category">카테고리</label></td>
	            <td th:value="${getCategory }"/> <br></td>
            </tr>
          </div>
          <div class="container">
            <tr>
              <td><label for="itemContent">상품 상세정보</label><br></td>
              <td><textarea name="itemContent" style="height: 200px; width:350px; resize:none;" readonly="readonly"><c:out value="${item.itemContent }"/></textarea></td>
            </tr>    
          </div>
          <div class="container">
            <tr>
              <td><label for="price">판매가격 </label></td>
              <td> <fmt:formatNumber type="number" maxFractionDigits="3" value="${item.price}" /><br></td>
            </tr>
            <tr>
              <td><label for="normPrice">정상가격 </label></td>
              <td> <fmt:formatNumber type="number" maxFractionDigits="3" value="${item.normPrice}" /></td>
            </tr>
          </div>
          <div class="container">
            <tr>
              <td> <label for="stock">재고 </label> </td>
              <td><fmt:formatNumber type="number" maxFractionDigits="3" value="${item.stock}" /> <br></td>
            </tr>
          </div>
          
          <div class="container">
            <tr>
              <td><label for="">진열상태</label></td>
              <input type="hidden" id="disValue" value='<c:out value="${item.dispStat}"/>'>
              <td>
	              <input type="radio" name="dispStat" value="진열함" onclick="return false;">진열함
	              <input type="radio" name="dispStat" value="진열안함" onclick="return false;">진열안함<br>
	            </td>
	            </tr>
	            <tr>
	              <td><label for="">판매상태</label></td>
	              <input type="hidden" id="saleValue" value='<c:out value="${item.saleStat}"/>'>
	            <td>
	              <input type="radio" name="saleStat" value="판매중" onclick="return false;">판매중
	              <input type="radio" name="saleStat" value="판매중지" onclick="return false;">판매중지
	              <input type="radio" name="saleStat" value="품절" onclick="return false;">품절
	            </td>
            </tr>
          </div>
          <div class="container">
            <tr>
	            <td>
	              <small style="opacity:0.75;">특성이 선택되어 있지 않으면 기본입니다.</small><br>
	              <label>상품 특성</label><br>
	            </td>
	            <input type="hidden" id="chkValue" value='<c:out value="${item.itemChr}"/>'>
	            <td>
	              <input type="checkbox" name="itemChr" value="new" onclick="return false;">신상품
	              <input type="checkbox" name="itemChr" value="sale" onclick="return false;">할인
	            </td>
            </tr>
          </div>

          <div class="container">
            <tr>
               <td>   
                  <label>메인 이미지</label>
                </td>
                <td>
                <div class="select_img1">
                  <img class="thumbnail" src='/resources/upload/<c:out value="${item.idNo}"/>/<c:out value="${item.itemImg1}"/>' onError="this.src='/resources/images/noImg.png'" />
                </div>
              </td>
            </tr>
          </div>
         
          <div class="container">
            <tr>
              <td>
                <label>서브 이미지1</label>
              </td>
              <td>
                <div class="select_img2">
                  <img class="thumbnail" src='/resources/upload/<c:out value="${item.idNo}"/>/<c:out value="${item.itemImg2}"/>' onError="this.src='/resources/images/noImg.png'" />
                </div>
              </td>
            </tr>    
          </div>
          <div class="container">
	          <tr>
	            <td><label>서브 이미지2</label></td>
	              <td>
	                <div class="select_img3">
	                <img class="thumbnail" src='/resources/upload/<c:out value="${item.idNo}"/>/<c:out value="${item.itemImg3}"/>' onError="this.src='/resources/images/noImg.png'" />
	              </div>
	            </td>
	          </tr>
          </div>
          <div class="container">
            <tr>
              <td><label>서브 이미지3</label></td>
              <td>
	              <div class="select_img4">
	                <img class="thumbnail" src='/resources/upload/<c:out value="${item.idNo}"/>/<c:out value="${item.itemImg4}"/>' onError="this.src='/resources/images/noImg.png'" />
	              </div>
              </td>
            </tr>
          </div>
          
          <div class="container">
            <tr>
              <td>
	              <label>상품 상세 설명 이미지</label>
              </td>
              <td>
	              <div class="select_img5">
                  <img class="thumbnail" src='/resources/upload/<c:out value="${item.idNo}"/>/<c:out value="${item.imgDetail}"/>' onError="this.src='/resources/images/noImg.png'" />
	              </div>
              </td>
            </tr>
          </div>
        </table>
      </form>    
    </div>
  </div>
</body>

</html>