<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::headFrag('Welcome')}"></head>
<script th:inline="javascript">

function fnList(){
    location.href="list";
  }

  function fnRegister(){
    alert('등록되었습니다.');
  }

  function fnFileCheck(vThis){
    let maxSize = 1024 * 1024* 10;
    let files = vThis.files;
    $('#fileList').empty();
    $.each(files, function(i, file){
      if(file.size > maxSize){
        alert('최대 크기 10MB');
        $(vThis).val('');
        $('#fileList').text('첨부파일 목록');
        return;
      }
      $('#fileList').append('<div>' + file.name + '</div>');
    })
    
  }
</script>

<body>
  <div class="container">
    <div class="mainContent" style="margin-top:50px; margin-left:200px;">
      <div class="title">
        <h3>상품 수정</h3>
        <p>[상품ID: <a th:text="${item.itemNo}"></a>]</p>
      </div>
      <div class="modi_form">
        <form method="post" enctype="multipart/form-data" th:action='@{modify.do}'>
          <table>
            <div class="container">
	            <tr>
	              <td><label for="itemName"><i class="fa fa-chevron-right"></i>상품 이름</label><br></td>
	              <td><input type="text" name="itemName" id="itemName" style="width: 350px;" th:value="${item.itemName}"/></td>
	            </tr>
            </div>
            <div class="container">
              <tr>
                <td><label for="category"><i class="fa fa-chevron-right"></i>카테고리 분류</label></td>
                <td><input type="text" name="getCategory" style="width: 350px;" th:value="${item.itemCategory}"/></td>
              </tr>
            </div>
                        
            <div class="container">
	            <tr>
		            <td><label for="itemContent"><i class="fa fa-chevron-right"></i>상품 상세정보</label></td>
	              <td><textarea name="itemContent" id="itemContent" style="height: 200px; width: 350px; resize:none;" th:value="${item.itemComment}"></textarea></td>
	            </tr>
            </div>
                            
            <div class="container">
              <tr>
                <td>
                   <label for="price"><i class="fa fa-chevron-right"></i>판매가격</label> 
                </td>
                <td>    
                   <input type="text" name="price" id="price" numberOnly th:value="${item.price}"/><br> 
                </td>
              </tr>
              <tr>
	              <td>
	                <label for="normPrice"><i class="fa fa-chevron-right"></i>정상가격</label> 
	              </td>    
	              <td>  
	                <input type="text" name="normPrice" id="normPrice" numberOnly th:value="${item.originPrice}"/>
	               </td>
               </tr>
              </div>
                            
              <div class="container">
                <tr>
                  <td><label for="stock"><i class="fa fa-chevron-right"></i>재고</label></td>
                  <td><input type="text" name="stock" id="stock" numberOnly th:value="${item.stock}"/><br></td>
                </tr>
              </div>
                    
              <div class="container">
                <tr>                    
                  <td><label for="">진열상태</label></td>
                    <input type="hidden" id="disValue" th:value="${item.dispStat}"/>
                  <td> 
                    <input type="radio" name="dispStat" value="진열함">진열함
                    <input type="radio" name="dispStat" value="진열안함">진열안함<br>
                  </td>
                </tr>      
                <tr>  
                  <td> <label for="">판매상태</label> </td>
                    <input type="hidden" id="saleValue" th:value="${item.saleStat}"/>
                  <td>
	                  <input type="radio" name="saleStat" value="판매중">판매중
	                  <input type="radio" name="saleStat" value="판매중지"> 판매중지
	                  <input type="radio" name="saleStat" value="품절">품절
                  </td>
                </tr>
              </div>
              <!-- <div class="container">
	              <tr>
	                <td>
										<label><i class="fa fa-chevron-right"></i>상품 특성</label><br> 
									</td>
	                <input type="hidden" id="chkValue" value='<c:out value="${item.itemChr}"/>'>
	                <td>
	                  <input type="checkbox" name="itemChr" value="new">신상품 
	                  <input type="checkbox" name="itemChr" value="sale">할인
	                  아무것도 선택하지 않으면 '기본'으로 값이 됨
	                  <input type="checkbox" name="itemChr" value="default" style="visibility:hidden">
	                </td>
	              </tr>
              </div> -->
                            
                            
              <div class="container">
	              <tr>
		              <td>
		                <label><small style="opacity:0.75;">메인, 서브 이미지 규격 : 270*300</small></label><br>
		                  <label><i class="fa fa-chevron-right"></i>메인 이미지</label><br>                            
		                  <input type='file' id="files" name="files" accept="image/gif, image/jpeg, image/png, image/jpg" />
		                  <!-- <input type='hidden' name="itemImg1" th:value="${item.itemImg}"/> -->
		              </td>
		              <!-- <td> 
		                  <div class="select_img1"><img class='itemImg' src='/resources/upload/<c:out value="${item.idNo}"/>/<c:out value="${item.itemImg1}"/>' /></div>
		              </td> -->
	              </tr>
              </div>
              <!-- <div class="container">
	              <tr>
                  <td>
	                  <label><i class="fa fa-chevron-right"></i>서브 이미지</label><br>
	                  <input type='file' id="itemImg2" name="uploadFile" accept="image/gif, image/jpeg, image/png, image/jpg" />
	                  <input type='hidden' name="itemImg2" value="<c:out value="${item.itemImg2}"/>">
                  </td>
                  <td>
                    <div class="select_img2"><img class='itemImg' src='/resources/upload/<c:out value="${item.idNo}"/>/<c:out value="${item.itemImg2}"/>' onError="this.src='/resources/images/noImg.png'" /></div>
	                </td>
	              </tr>
              </div>
                            
              <div class="container">
                <tr>
                  <td>
                   <label><i class="fa fa-chevron-right"></i>서브 이미지</label><br>
                   <input type='file' id="itemImg3" name="uploadFile" accept="image/gif, image/jpeg, image/png, image/jpg" />
                   <input type='hidden' name="itemImg3" value="<c:out value="${item.itemImg3}"/>">
                   </td>
                   <td>
                     <div class="select_img3"><img class='itemImg' src='/resources/upload/<c:out value="${item.idNo}"/>/<c:out value="${item.itemImg3}"/>' onError="this.src='/resources/images/noImg.png'" /></div>
                   </td>
                </tr>
              </div>
                            
              <div class="container">
                <tr>
                  <td>
                    <label><i class="fa fa-chevron-right"></i>서브 이미지</label><br>
                    <input type='file' id="itemImg4" name="uploadFile" accept="image/gif, image/jpeg, image/png, image/jpg" />
                   <input type='hidden' name="itemImg4" value="<c:out value="${item.itemImg4}"/>">
                  </td>
                  <td>
                    <div class="select_img4"><img class='itemImg' src='/resources/upload/<c:out value="${item.idNo}"/>/<c:out value="${item.itemImg4}"/>' onError="this.src='/resources/images/noImg.png'" /></div>
                  </td>
                </tr>
              </div> -->
              <div class="container">
               <tr>
                  <td>
                    <label><i class="fa fa-chevron-right"></i>상품 상세 설명 이미지</label><br>
                    <input type='file' id="itemImg5" name="uploadFile" accept="image/gif, image/jpeg, image/png, image/jpg" />
                    <!-- <input type='hidden' name="imgDetail" th:value="${item.imgDetail}"/> -->
                  </td>
                  <td>
                    <div class="select_img5"><img class='itemImg' src='/resources/upload/<c:out value="${item.idNo}"/>/<c:out value="${item.imgDetail}"/>' /></div>
                  </td>
                </tr>
              </div>  
            </table>
	        <div class="modi_btn">
	          <button id="uploadBtn">등록</button>
	          <button id="resetBtn" type="button" th:onclick="fnList()">취소</button>
	        </div>
        </form>  
      </div>
  </div>
</body>

</html>