<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::headFrag('Welcome')}"></head>
<script th:inline="javascript">


  function fnRegister(){
    alert('등록되었습니다.');
  }

  function fnFileCheck(vThis){
    let maxSize = 1024 * 1024* 10;
    let files = vThis.files;
    $('#fileList').empty();
    $.each(files, function(i, file){
      if(file.size > maxSize){
        alert('최대 크기 10MB');
        $(vThis).val('');
        $('#fileList').text('첨부파일 목록');
        return;
      }
      $('#fileList').append('<div>' + file.name + '</div>');
    })
    
  }
</script>
  
  
  
<body>
  <div>
    <h1>상품 등록</h1>
    <form method="post" th:action="@{add.do}" enctype="multipart/form-data">
      <table>
        <tr>
          <td><label for="itemName">상품 이름</label></td>
          <td><input type="text" id="itemName" name="itemName" required></td>
        </tr>
        <tr>
          <td><label for="itemCategory">카테고리</label></td>
          <td><select id="itemCategory" name="itemCategory" required>
               <option value="1">샐러드</option>
               <option value="2">샌드위치</option>
               <option value="3">미정</option>
               <option value="4">미정</option>
             </select>
           </td>
        </tr>
        <tr>     
          <td><label for="itemComment">상품 설명</label></td>
          <td><input type="text" id="itemComment" name="itemComment" required></td>
        </tr>
        <tr>
          <td><label for="price">가격</label></td>
          <td><input type="number" id="price" name="price" required></td>
        </tr>
        <tr>
          <td><label for="originPrice">원가</label></td>
          <td><input type="number" id="originPrice" name="originPrice" required></td>
        </tr>
        <tr>
          <td><label for="stock">재고</label></td>
          <td><input type="number" id="stock" name="stock" required></td>
        </tr>
        <tr>
          <td><label for="dispStat">표시 상태</label></td>
          <td><select id="dispStat" name="dispStat" required>
              <option value="1">예</option>
              <option value="2">아니오</option>
            </select>
          </td>
        </tr>
        <tr>
          <td><label for="saleStat">판매 상태</label></td>
          <td><select id="saleStat" name="saleStat" required>
              <option value="1">판매</option>
              <option value="2">품절</option>
            </select>
          </td>
        </tr>
        <tr>
          <td><label for="files">상품 이미지</label></td>
          <td><input type="file" id="files" name="files" multiple="multiple" onchange="fnFileCheck(this)" required></td>
          <td id="fileList">첨부 목록</td>
        </tr>
        <!-- <tr>
          <td><label for="file">상품 이미지</label></td>
          <td><input type="file" id="itemDetail" name="itemDetail" onchange="fnFileCheck(this)" required></td>
        </tr> -->
      </table>
      <input type="submit" value="등록" th:onclick="fnRegister()">
    </form>
  </div>
</body>
</html>