<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!--/* /layout/header.html의 headFrag조각으로 head 태그를 바꾼다. */-->
<head th:replace="~{/layout/header::headFrag('Welcome')}"></head>
<script th:inline="javascript">


  function fnRegister(){
    alert('등록되었습니다.');
  }

  function fnFileCheck(vThis){
    let maxSize = 1024 * 1024* 10;
    let files = vThis.files;
    $('#fileList').empty();
    $.each(files, function(i, file){
      if(file.size > maxSize){
        alert('최대 크기 10MB');
        $(vThis).val('');
        $('#fileList').text('첨부파일 목록');
        return;
      }
      $('#fileList').append('<div>' + file.name + '</div>');
    })
    
  }
</script>
  
<body>

  <div class="mainContent" style="margin-top:50px; margin-left:200px;">
    <div class="title">
      <h3>상품 등록</h3>
    </div>
    <div class="regi_form">
      <form role="form" th:action="@{add.do}" method="post" enctype="multipart/form-data">
        <table>
           <div class="container"> 
              <tr>
                <td>
                  <label for="itemCategory" ><i class="fa fa-chevron-right"></i>상품 정보 입력</label><br>
                </td>
                <td>                                    
                  <select class="itemCategory" id="itemCategory" name="itemCategory">
                    <!-- <option value="">대분류 선택</option>
                    <option value="normal">일반 구매</option> -->
                    <option value="">카테고리 선택</option>
                    <option value="샐러드">샐러드</option>
                    <option value="샌드위치">샌드위치</option>
                    <option value="과일/채소">과일/채소</option>
                    <option value="정육">정육</option>
                  </select>
                  <!-- <select class="midCateg" id="midCateg">
                    <option value="">중분류 선택</option>
                    <option value="salad">샐러드</option>
                    <option value="sandwwich">샌드위치</option>
                    <option value="fresh">과일/채소</option>
                    <option value="meat">정육</option>
                  </select> -->
                </td>
              </tr>    
          </div>
          
          <input type="hidden" name="id" id="id" value='<c:out value="${sessionMember.id}"/>' >
          
          <tr>
            <td><label for="itemName"><i class="fa fa-chevron-right"></i>상품명</label></td>
            <td><input type="text" name="itemName" id="itemName" placeholder="상품명을 입력하세요." style="width: 350px;">
            </td>
          </tr>
          
          <div class="container">
            <tr>
              <td>
                <label for="itemComment"><i class="fa fa-chevron-right"></i>상품 상세정보</label><br>
              </td>
              <td>
                <textarea name="itemComment" id="itemComment" style="height: 200px; width:350px; resize:none;"></textarea>
              </td>
            </tr>
          </div>
          <div class="container">
            <tr>
              <td>
                <label for="price"><i class="fa fa-chevron-right"></i>판매가격</label>
              </td>
              <td>
                <input type="text" name="price" id="price" numberOnly><br>
              </td>
            </tr>
            <tr>
              <td>
                <label for="originPrice"><i class="fa fa-chevron-right"></i>정상가격</label>
              </td>
              <td>
                <input type="text" name="originPrice" id="originPrice" numberOnly>
              </td>    
            </tr>
          </div>
          <div class="container" >
            <tr>
              <td>
                <label for="stock" ><i class="fa fa-chevron-right"></i>재고</label>
              </td>
              <td>
                <input type="text" name="stock" id="stock" numberOnly><br>
              </td>
            </tr>
          </div>
          
          <div class="container">
            <div class="display">
              <div class="display_sta">
                <tr>
                  <td>
                  <label for="dispStat"><i class="fa fa-chevron-right"></i>진열상태</label>
                  </td>
                  <td>
                   <input type="radio" name="dispStat" value="진열중" checked="checked" >진열중
                   <input type="radio" name="dispStat" value="진열안함">진열안함<br>
                  </td>
                </tr>
                <tr>
                  <td>
                   <label for="saleStat"><i class="fa fa-chevron-right"></i>판매상태</label>
                  </td>
                  <td>
                    <input type="radio" name="saleStat" value="판매중" checked="checked">판매중
                    <input type="radio" name="saleStat" value="판매중지">판매중지
                  </td>
                </tr>
              </div>
            </div>    
        </div>
        
      <!--   <div class="container">
          <tr>
            <td>
              <small style="opacity:0.75;">특성을 선택하지 않으면 기본으로 설정 됩니다.</small><br><br>
              <label><i class="fa fa-chevron-right"></i>상품 특성</label><br>
            </td>
            <td>
              <input type="checkbox" name="itemChr" value="new">신상품
              <input type="checkbox" name="itemChr" value="sale">할인
          
              아무것도 선택하지 않으면 '기본'으로 값이 됨
              <input type="checkbox" name="itemChr" value="default" checked="checked" style="visibility:hidden">
            </td>
          </tr>
        </div> -->
        
        <!-- 파일 업로드 시작 -->
        <div class="container_i">
          <tr>
	          <td><label for="files"><i class="fa fa-chevron-right"></i>상품 이미지</label></td>
	          <td><input type="file" id="files" name="files" multiple="multiple" onchange="fnFileCheck(this)" required></td>
	          <td id="fileList">첨부 목록</td>
	        </tr>
 	        
            <!--<td>
              <label><small style="opacity:0.75;">메인, 서브 이미지 규격 : 270*300</small></label><br><br><br>
              <label><i class="fa fa-chevron-right"></i>메인 이미지</label>
            </td>
            <td>
              <input type='file' id="itemImg1" name="uploadFile" accept="image/gif, image/jpeg, image/png, image/jpg" />
              <div class="select_img1"><img src="" /></div>
            </td> 
          </tr>
        </div>
        <div class="container_i">
          <tr>
            <td>
              <label><small style="opacity:0.75;">메인, 서브 이미지 규격 : 270*300</small></label><br><br><br>
              <label><i class="fa fa-chevron-right"></i>메인 이미지</label>
            </td>
            <td>
              <input type='file' id="itemImg1" name="uploadFile" accept="image/gif, image/jpeg, image/png, image/jpg" />
              <div class="select_img1"><img src="" /></div>
            </td>
          </tr>
        </div>-->

        <div class="container_i">
          <tr>
            <td><label><i class="fa fa-chevron-right"></i>서브 이미지</label></td>
            <td>
              <input type='file' id="itemDetail" name="itemDetail" onchange="fnFileCheck(this)" required />
              <div class="select_img2"><img src="" /></div>
            </td>
          </tr>
        </div>

<!--         <div class="container_i">
          <tr>
            <td>
              <label><i class="fa fa-chevron-right"></i>서브 이미지</label>
            </td>
            <td>
              <input type='file' id="itemImg3" name="uploadFile" accept="image/gif, image/jpeg, image/png, image/jpg" />
              <div class="select_img3"><img src="" /></div>
            </td>
          </tr>
        </div>

        <div class="container_i">
          <tr>
            <td>
              <label><i class="fa fa-chevron-right"></i>서브 이미지</label>
            </td>
            <td>
              <input type='file' id="itemImg4" name="uploadFile" accept="image/gif, image/jpeg, image/png, image/jpg" />
              <div class="select_img4"><img src="" /></div>
            </td>
          </tr>
        </div>
        <div class="container_i">
          <tr>
            <td>
              <label><i class="fa fa-chevron-right"></i>상품 상세 설명 이미지</label>
            </td>
            <td>
              <input type='file' id="itemImg5" name="uploadFile" accept="image/gif, image/jpeg, image/png, image/jpg" />
              <div class="select_img5"><img src="" /></div>
            </td>
          </tr>
        </div> -->
        </table>
        <div class="regi_btn">
          <button id="uploadBtn">등록</button>
          <button id="resetBtn" type="reset">취소</button>
        </div>
      </form>

</body>
<style>
        td{
            border-bottom: 1px solid #ddd;
            padding: 8px;
            height: 30px;
                 }
        li{
            list-style: none;
        }
     a{
      text-decoration: none;
       color: #303030;
       font-size: 17px;
     }          
        .regi_form{
          margin-top:50px;
            margin-left: 100px;
        }
        #uploadBtn,
        #resetBtn{
            background-color: #8FA691 ; 
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            font-weight: bold;
            margin: 20px 2px;
          
        }
        #uploadBtn:focus,
        #resetBtn:focus{
         outline:none;
         border: none;
        }
        .regi_btn{
            float: right;
            margin-right:330px;
        }
        .mainContent .title {
        margin-left: 100px;
        }
        .mainContent h3{
        font-weight:500;
        font-size:24px;
        margin-bottom:10px;
        }
        .mainContent p{
            color: #b9b9b9;
            margin-top:0;
            
        }
  /* 사이드 메뉴 끝 */
</style>
</html>